.clear {
  clear: both;
}

.block-noughts-and-crosses {
  display: inline-block;
}

.region-content .noughts-and-crosses-board .game-rules .game-instructions ol, 
.region-content .noughts-and-crosses-board .game-rules .game-instructions ul {
  margin: 0;
  padding: 0 0 0.25em 1em;
}

.region-content .noughts-and-crosses-board .game-rules .game-instructions {
  width: 550px;
}

.noughts-and-crosses-board .game-instructions {
  visibility: hidden;
  width: 250px;
  background-color: grey;
  color: #fff;
  text-align: left;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.noughts-and-crosses-board .game-rules {
  color: #0071B3;
  cursor: pointer;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  margin-bottom: 5px;
}

/* Show the Instructions on mouse over the container */
.game-rules:hover .game-instructions {
  visibility: visible;
}

.noughts-and-crosses-board .form-item-play-type label {
  margin-right: 13px;
}

.noughts-and-crosses-board .form-item-first-move label {
  margin-right: 35px;
}

.noughts-and-crosses-board .form-item-play-type label,
.noughts-and-crosses-board .form-item-first-move label {
  display: inline-block;
}

.noughts-and-crosses-board .form-item-play-type .form-select,
.noughts-and-crosses-board .form-item-first-move .form-select {
  padding: 0px;
}

.noughts-and-crosses-board .board-wrap {
  width: 90px;
}

.noughts-and-crosses-board .board-wrap .form-item {
  float: left;
  width: 30px;
  height: 30px;
  margin: 0px;
  padding: 0px;
}

.noughts-and-crosses-board input.form-text {
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  color: transparent;
  text-shadow: 0 0 0 gray;
  &:focus {
    outline: none;
  }
}

.noughts-and-crosses-board .board-submit-wrap {
  float: left;
  clear: left;
}

.noughts-and-crosses-board .form-submit {
  margin: 8px 8px 0px 0px;
  padding: 4px 10px;
}

.noughts-and-crosses-board input.error,
.noughts-and-crosses-board .form-item input.error {
  border: 1px solid red;
}

.noughts-and-crosses-board input.success,
.noughts-and-crosses-board .form-item input.success {
  border: 1px solid green;
}

.noughts-and-crosses-board .play-again,
.noughts-and-crosses-board .play-again:hover,
.noughts-and-crosses-board .play-again:visited {
  color: #0071B3;
  float: right;
  cursor: pointer;
  display: none;  
}

.noughts-and-crosses-board .error-messages {
  background-image: url(../../../../../../misc/message-24-error.png);
  background-position: 5px 5px;
  background-repeat: no-repeat;
  border: 1px solid;
  margin: 6px 0;
  padding: 8px 5px 9px 33px;
  background-color: #fef5f1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #8c2e0b;
  border-top-color: rgb(237, 84, 29);
  border-right-color: rgb(237, 84, 29);
  border-bottom-color: rgb(237, 84, 29);
  border-left-color: rgb(237, 84, 29);
  display: none;
}

.noughts-and-crosses-board .success-messages {
  background-image: url(../../../../../../misc/message-24-ok.png);
  background-position: 5px 5px;
  background-repeat: no-repeat;
  border: 1px solid;
  margin: 6px 0;
  padding: 8px 5px 9px 33px;
  background-color: #f8fff0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #234600;
  border-top-color: rgb(187, 238, 119);
  border-right-color: rgb(187, 238, 119);
  border-bottom-color: rgb(187, 238, 119);
  border-left-color: rgb(187, 238, 119);
  display: none;
}

.noughts-and-crosses-board .error-messages .close-error {
  font-weight: bold;
  float: right;
  color: red;  
  cursor: pointer;
}
